/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* Corpo e layout */
body {
    display: grid;
    grid-template-columns: 1fr 3fr 1.3fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "menu menu menu"
        "form form form"
        "table table query"
        "table table query";
    height: 100vh;
    gap: 20px;
    padding: 0 1rem;
    background: #F5F5F5;
    color: #333;
}

/* Menu */
menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    grid-area: menu;
    border-radius: 5px;
}

menu a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

menu a:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Formulário de Inserção */
#form, #query {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form {
    grid-area: form;
}

#form label, #query label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

#form input, #query input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form button, #query button {
    background: #F25D27;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#form button:hover, #query button:hover {
    background: #D24B1B;
}

/* Formulário de Consulta */
#query {
    grid-area: query;
}

#query input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

/* Tabela de Dados */
#estoque {
    border-collapse: collapse;
    width: 100%;
    grid-area: table;
    overflow-x: auto;
}

#estoque th, #estoque td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

#estoque thead {
    background-color: #F25D27;
    color: #fff;
}

#estoque tbody tr:nth-child(even) {
    background: #f9f9f9;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "menu"
            "form"
            "table"
            "query";
    }

    menu {
        flex-direction: column;
    }
}
